<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="ui.css">
    <title>ui</title>
    <style type="text/css">
    html {
        background: #f5f5f5;
    }
    
    h2 {
        color: #0089FF;
        font-weight: normal;
        margin-top: 2em;
    }
    </style>
</head>

<body class="pd">
    <h1>UI</h1>
    <h2>.row>.cell</h2>
    <div class="row mgtb">
        <div class="cell w1  bd">1</div>
        <div class="cell w1  bd">2</div>
        <div class="cell w1  bd">3</div>
        <div class="cell w1  bd">4</div>
        <div class="cell w1  bd">5</div>
        <div class="cell w1  bd">6</div>
        <div class="cell w1  bd">7</div>
        <div class="cell w1  bd">8</div>
        <div class="cell w1  bd">9</div>
        <div class="cell w1  bd">10</div>
        <div class="cell w1  bd">11</div>
        <div class="cell w1  bd">12</div>
        <div class="cell w1  bd">13</div>
        <div class="cell w1  bd">14</div>
        <div class="cell w1  bd">15</div>
        <div class="cell w1  bd">16</div>
        <div class="cell w1  bd">17</div>
        <div class="cell w1  bd">18</div>
        <div class="cell w1  bd">19</div>
        <div class="cell w1  bd">20</div>
        <div class="cell w1  bd">21</div>
        <div class="cell w1  bd">22</div>
        <div class="cell w1  bd">23</div>
        <div class="cell w1  bd">24</div>
    </div>
    <h2>.cell.w1 [.md2 .sm3 .xs4]</h2>
    <div class="row mgtb">
        <div class="cell w1 md2 sm3 xs4  bd">1</div>
        <div class="cell w1 md2 sm3 xs4  bd fr">2fr</div>
        <div class="cell w1 md2 sm3 xs4  bd">3</div>
        <div class="cell w1 md2 sm3 xs4  bd">4</div>
        <div class="cell w1 md2 sm3 xs4  bd">5</div>
        <div class="cell w1 md2 sm3 xs4  bd">6</div>
        <div class="cell w1 md2 sm3 xs4  bd">7</div>
        <div class="cell w1 md2 sm3 xs4  bd">8</div>
        <div class="cell w1 md2 sm3 xs4  bd">9</div>
        <div class="cell w1 md2 sm3 xs4  bd">10</div>
        <div class="cell w1 md2 sm3 xs4  bd">11</div>
        <div class="cell w1 md2 sm3 xs4  bd">12</div>
        <div class="cell w1 md2 sm3 xs4  bd">13</div>
        <div class="cell w1 md2 sm3 xs4  bd">14</div>
        <div class="cell w1 md2 sm3 xs4  bd">15</div>
        <div class="cell w1 md2 sm3 xs4  bd">16</div>
        <div class="cell w1 md2 sm3 xs4  bd">17</div>
        <div class="cell w1 md2 sm3 xs4  bd">18</div>
        <div class="cell w1 md2 sm3 xs4  bd">19</div>
        <div class="cell w1 md2 sm3 xs4  bd">20</div>
        <div class="cell w1 md2 sm3 xs4  bd">21</div>
        <div class="cell w1 md2 sm3 xs4  bd">22</div>
        <div class="cell w1 md2 sm3 xs4  bd">23</div>
        <div class="cell w1 md2 sm3 xs4  bd">24</div>
    </div>
    <h2>.table>.row>.cell</h2>
    <div class="table w24 tblf mgtb">
        <div class="row">
            <div class="cell  bd" style="height:35px">1</div>
            <div class="cell  bd tac vam" style="height:35px">2vam</div>
            <div class="cell  bd" style="height:35px">3</div>
            <div class="cell  bd" style="height:35px">4</div>
        </div>
    </div>
    <h2>.table>.row>.cell</h2>
    <div class="table w24 mgtb">
        <div class="row">
            <div class="cell w1 pdr">label</div>
            <div class="cell pdb">
                <input class="input w24" placeholder="input...">
            </div>
        </div>
        <div class="row">
            <div class="cell">label</div>
            <div class="cell pdb">
                <input class="input w24" placeholder="input...">
            </div>
        </div>
    </div>
    <h2>.form>.row>.cell</h2>
    <div class="form mgtb">
        <div class="row">
            <div class="cell pdb1 pdr tar">label</div>
            <div class="cell pdb">
                <input class="input w24" placeholder="input...">
                <div class="pdtb1">helper text</div>
            </div>
        </div>
        <div class="row">
            <div class="cell pdb1 pdr tar">looooooong label</div>
            <div class="cell pdb">
                <input class="input w24" placeholder="input...">
            </div>
        </div>
        <div class="row">
            <div class="cell pdb1 pdr tar"></div>
            <div class="cell pdb">
                <button class="button">按钮</button>
            </div>
        </div>
    </div>
    <h2>.flex>.row>.cell</h2>
    <div class="flex mgtb">
        <div class="row">
            <div class="cell  bd">1</div>
            <div class="cell  bd">2</div>
            <div class="cell  bd">3</div>
            <div class="cell  bd">4</div>
        </div>
    </div>
    <h2>.block>.row>.cell</h2>
    <div class="block mgtb">
        <div class="row">
            <div class="cell  bd">1</div>
            <div class="cell  bd">2</div>
            <div class="cell  bd">3</div>
            <div class="cell  bd">4</div>
        </div>
    </div>
    <h2>fs</h2>
    <div class="row">
        <input class="input vab  fs" style="width:5em" placeholder="input">
        <input class="input vab  fs1" style="width:3.30125em" placeholder="fs1">
        <input class="input vab  fs2" style="width:3.30125em" placeholder="fs2">
        <input class="input vab  fs3" style="width:3.30125em" placeholder="fs3">
        <input class="input vab  fs4" style="width:3.30125em" placeholder="fs4">
        <input class="input vab  fs5" style="width:3.30125em" placeholder="fs5">
        <input class="input vab  fs6" style="width:3.30125em" placeholder="fs6">
        <input class="input vab  fs7" style="width:3.30125em" placeholder="fs7">
        <input class="input vab  fs8" style="width:3.30125em" placeholder="fs8">
    </div>
    <div class="row mgtb">
        <button class="button vab  fs">button</button>
        <button class="button vab  fs1">fs1</button>
        <button class="button vab  fs2">fs2</button>
        <button class="button vab  fs3">fs3</button>
        <button class="button vab  fs4">fs4</button>
        <button class="button vab  fs5">fs5</button>
        <button class="button vab  fs6">fs6</button>
        <button class="button vab  fs7">fs7</button>
        <button class="button vab  fs8">fs8</button>
    </div>
    <h2>color</h2>
    <div class="row mgtb">
        <button class="button  ">按钮</button>
        <button class="button  info">info</button>
        <button class="button  warning">warning</button>
        <button class="button  error">error</button>
        <button class="button  primary">primary</button>
    </div>
    <h2>ra</h2>
    <div class="row mgtb">
        <button class="button  ra">按钮</button>
        <button class="button  ra1">ra1</button>
        <button class="button  ra2">ra2</button>
        <button class="button  ra3">ra3</button>
        <button class="button  ra4">ra4</button>
        <button class="button  ra5">ra5</button>
        <button class="button  ra9">9</button>
        <button class="button  ra9">-- ra9 --</button>
    </div>
    <h2>-- input group</h2>
    <div class="table bd ra9" style="max-width:600px">
        <input class="cell w24 pd2 bd">
        <div class="cell w1 pd2 pdlr bd">@</div>
        <input class="cell w24 pd2 bd">
        <div class="cell w1 pd2 pdlr bd">.com</div>
        <div class="cell w0 bd">
            <button class="bd0 pd2 pdlr rar">ok</button>
        </div>
    </div>
    <h2>group</h2>
    <div class="group w24 mgb">
        <input class="input ra9">
        <span class="input ra9">@</span>
        <input class="input ra9">
        <div class="button ra9">
            <button class="button ra9">中国</button>
        </div>
    </div>
    <div class="group xs24 tac mgb">
        <span class="button ra9">btn</span>
        <span class="button ra9">btn</span>
        <span class="button ra9">btn</span>
        <span class="button ra9">btn</span>
        <span class="button ra9">btn</span>
    </div>
    <div class="group xs24 tac mgb">
        <label class="button ra9">
            <input type="checkbox" name=""> 用户
        </label>
        <label class="button ra9">
            <input type="checkbox" name="r218"> 游客
        </label>
    </div>
    <h2>sz</h2>
    <div class="row">
        <input class="input vab  sz" style="width:5em" placeholder="input">
        <input class="input vab  sz1" style="width:3em" placeholder="sz1">
        <input class="input vab  sz2" style="width:3em" placeholder="sz2">
        <input class="input vab  sz3" style="width:3em" placeholder="sz3">
        <input class="input vab  sz4" style="width:4em" placeholder="sz4">
        <input class="input vab  sz5" style="width:4em" placeholder="sz5">
        <input class="input vab  sz6" style="width:4em" placeholder="sz6">
        <input class="input vab  sz7" style="width:5em" placeholder="sz7">
        <input class="input vab  sz8" style="width:5em" placeholder="sz8">
        <input class="input vab  sz9" style="width:5em" placeholder="sz9">
    </div>
    <div class="row mgtb">
        <button class="button vab  sz">button</button>
        <button class="button vab  sz1 ra9">1</button>
        <button class="button vab  sz2 ra9">2</button>
        <button class="button vab  sz3 ra9">3</button>
        <button class="button vab  sz4 ra9">4</button>
        <button class="button vab  sz5 ra9">5</button>
        <button class="button vab  sz6 ra9">6</button>
        <button class="button vab  sz7 ra9">7</button>
        <button class="button vab  sz8 ra9">8</button>
        <button class="button vab  sz9 ra9">9</button>
    </div>
    <h2>table</h2>
    <div class="bg">
        <table class="table">
            <tbody>
                <tr>
                    <th>员工姓名</th>
                    <th>性别</th>
                    <th>联系方式</th>
                    <th class="tac">角色</th>
                    <th class="tac">入职时间</th>
                    <th class="tac">订单量</th>
                    <th class="tac">项目量</th>
                    <th>登录账号</th>
                    <th class="tac">操作</th>
                </tr>
                <tr>
                    <td>xxx</td>
                    <td>x</td>
                    <td>xxxxxxxxxxx</td>
                    <td class="tac">xxx</td>
                    <td class="tac">xxxx.xx.xx</td>
                    <td class="tac">
                        <span class="x-tag bg-green">xx</span>
                    </td>
                    <td class="tac">
                        <span class="x-tag bg-blue">xx</span>
                    </td>
                    <td>xxxxxxx</td>
                    <td class="tac">
                        <a class="x-edit" href="">
                            <i class="fa fa-edit fa-fw"></i>
                        </a>
                        <a class="x-del" href="">
                            <i class="fa fa-remove fa-fw"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>
