<!DOCTYPE html>
<html class="fxx">

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
    <!-- navbar -->
    <div class="bdb xx bt">
        <div class="xx">
            <a class="pd" href="">
                <span class="">LOGO</span>
            </a>
            <a class="pd" href="">主机</a>
            <a class="pd" href="">图表</a>
            <a class="pd" href="">管理</a>
        </div>
        <div class="xx">
            <div class="">
                <input class="" placeholder="search...">
            </div>
            <a class="" href="">admin</a>
        </div>
    </div>
    <!-- main -->
    <div class="">
        <!-- toolbar -->
        <div class="">
            <div>
                <a class="" href="">主页</a>
                <a class="" href="">状态</a>
                <a class="" href="">
                    所有运行状态问题
                    <i class="">8</i>
                </a>
            </div>
            <div>
                <a class="" href="">添加集群</a>
            </div>
        </div>
        <!-- 集群 -->
        <div class="">
            <div class="">
                <div class="">集群1</div>
                <div class="">主机</div>
                <div class="">Flume</div>
                <div class="">HBase</div>
                <div class="">HDFS</div>
                <div class="">Hive</div>
            </div>
            <div class="">
                <div class="">集群2</div>
                <div class="">主机</div>
                <div class="">Flume</div>
                <div class="">HBase</div>
                <div class="">HDFS</div>
                <div class="">Hive</div>
            </div>
        </div>
    </div>
</body>

</html>
