<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <script src="lib/domTpl.js"></script>
</head>

<body id="home">
    <!-- navbar -->
    <div class="navbar">
        <a class="logo" href="">
            <span class="fs1">DATA</span>
        </a>
        <div class="navl">
            <a class="pd" href="home.html">监控</a>
            <a class="pd" href="charts.html">报表</a>
            <a class="pd" href="">管理</a>
        </div>
        <div class="navr">
            <div class="search-input">
                <input class="bd ra9 pd1 pdlr2" placeholder="search...">
            </div>
            <div class="pd">
                <span>admin</span>
                <a class="mgl" href="login.html">退出</a>
            </div>
        </div>
        <span class="navtg bd ra pd2 lh0" toggle=".navbar .navr:open">三</span>
    </div>
    <!-- toolbar -->
    <div class="fx fxsb fxm bdb mgt nowr ova">
        <div class="fx fxm">
            <a class="pd" href="">状态</a>
            <a class="pd" href="">集群</a>
            <a class="pd" href="">主机</a>
            <a class="pd" href="">
                问题
                <i class="badge mgl2">8</i>
            </a>
        </div>
        <a class="pd1 pdlr mglr bd bgw ra9" href="">添加集群</a>
    </div>
    <!-- main -->
    <div class="main fx fx10a">
        <!-- 集群 -->
        <div class="clusters fxn --bdr">
            <div class="mg bgb cw ra sh pd" if="loading">集群列表...</div>
            <div each="cluster in table.cluster" class="cluster mg bgb cw ra sh">
                <div class="pd --bdb">{{cluster.name}}</div>
                <div class="pd">主机</div>
                <div each="service in table.service.where({clusterId:cluster.id})" class="pd">
                	<i class="stat bgsuccess"></i>
                    {{service.name}}
                    <i class="badge mgl2" text="table.isue.get({serviceId:service.id}).number"></i>
                </div>
            </div>
            <!-- empty -->
            <div if="!loading&&!table.cluster||!table.cluster.length" class="mgtb bgw ra pd">集群列表为空</div>
        </div>
        <!-- 图表 -->
        <div class="charts fx11a s12 pd">
            <div class="fx fxsb">
                <span>集群监控图</span>
                <div>
                    <a class="mgl" href="">30分钟</a>
                    <a class="mgl" href="">1小时</a>
                    <a class="mgl" href="">1天</a>
                </div>
            </div>
            <div class="fx fxwr mglr-2">
                <div class="chart s5 s12s">
                    <div class="mg2 pd2 bgw ra sh">
                        <div id="chart1" style="height: 16.5em"></div>
                    </div>
                </div>
                <div class="chart s5 s12s">
                    <div class="mg2 pd2 bgw ra sh">
                        <div id="chart2" style="height: 16.5em"></div>
                    </div>
                </div>
                <div class="chart s5 s12s">
                    <div class="mg2 pd2 bgw ra sh">
                        <div id="chart3" style="height: 16.5em"></div>
                    </div>
                </div>
                <div class="chart s5 s12s">
                    <div class="mg2 pd2 bgw ra sh">
                        <div id="chart4" style="height: 16.5em"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading -->
    <div if="loading" class="loading">
        <div class="fs4">loading...</div>
    </div>
    <script src="lib/ArrayX.min.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="js/app.js"></script>
    <script>
    var homeDom = domTpl({
        loading: true
    });
    setTimeout(function() {
        $.ajax({
            url: 'data/table.json',
            dataType: 'json',
            success: function(rsp) {
                homeDom.$set({
                    loading: false,
                    table: rsp
                });
            },
            error: function(rsp) {
                alert(JSON.stringify(rsp));
                homeDom.$set({
                    loading: false,
                });
            }
        })
    }, 200)
    </script>
    <script src="lib/echarts.common.min.js"></script>
    <script type="text/javascript">
    for(var i = 0; i < 4; i++) {
            // 基于准备好的dom，初始化echarts实例
            + function() {

                var myChart = echarts.init(document.getElementById('chart' + (i + 1)));

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'cpu'
                    },
                    tooltip: {
                        trigger: 'axis',
                    },
                    legend: {
                        data: ['cpu']
                    },
                    xAxis: {
                        data: [],
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {},
                    color: ['#555', '#aaa'],
                    dataZoom: [{ // 这个dataZoom组件，默认控制x轴。
                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        start: 0, // 左边在 10% 的位置。
                        end: 100 // 右边在 60% 的位置。
                    }, { // 这个dataZoom组件，也控制x轴。
                        type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                        start: 0, // 左边在 10% 的位置。
                        end: 100 // 右边在 60% 的位置。
                    }],
                    series: [{
                        name: '集群1',
                        type: 'line',
                        showSymbol: false,
                        animation: false,
                        data: [80]
                    }, {
                        name: '集群2',
                        type: 'line',
                        showSymbol: false,
                        data: [50]
                    }],
                    animation: false
                };

                myChart.setOption(option);
                setInterval(function() {
                    var data = option.series[0].data;
                    var data1 = option.series[1].data;
                    var lastItem = data[data.length - 1];
                    var lastItem1 = data1[data1.length - 1];
                    var newItem = lastItem + Math.random() * 10 - 5;
                    var newItem1 = lastItem1 + Math.random() * 10 - 5;
                    newItem = newItem > 100 ? 100 : newItem;
                    newItem1 = newItem1 > 100 ? 100 : newItem1;
                    newItem = newItem < 0 ? 0 : newItem;
                    newItem1 = newItem1 < 0 ? 0 : newItem1;
                    if (data.length > 100) {
                        data.shift()
                        data1.shift()
                    }
                    data.push(+newItem.toFixed(2))
                    data1.push(+newItem1.toFixed(2))
                    myChart.setOption({
                        series: [{
                            name: '集群1',
                            data: data
                        }, {
                            name: '集群2',
                            data: data1
                        }],
                    });
                }, 410);

                addEventListener('resize', myChart.resize);
            }();

        }
    </script>
</body>

</html>
