<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <title>报表</title>
    <style type="text/css">
    html {
        background: #f5f5f5;
    }
    
    .navactive {
        color: #0af;
        border-bottom: solid 1px #0af;
    }
    
    .btnsactive {
        background: #f5f5f5;
        color: #111;
    }
    </style>
    <!-- theme -->
    <style type="text/cssx">
    html {
        background: #282D33;
        color: #cbEEFF;
    }
    
    .sh {
        box-shadow: 0 1px 5px rgba(4, 0, 0, 0.55)
    }
    
    .bg {
        background: #182635;
    }
    </style>
</head>

<body>
    <!-- navbar -->
    <div class="bg sh">
        <div class="w960 mw mglra">
            <div class="row">
                <div class="cell pd curp" .class="{navactive:curProductId==1}" click="this.curProductId=1; loadData()">门户</div>
                <div class="cell pd curp" .class="{navactive:curProductId==2}" click="this.curProductId=2; loadData()">gslb</div>
                <div class="cell fr muted">
                    <div class="cell pd xsnone">admin</div>
                    <div class="cell pd">退出</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg sh">
        <div class="w960 mw mglra">
            <div class="row">
                <div class="cell pd curp" .class="{navactive:curProductId==3}" click="this.curProductId=3; loadData()">总览</div>
                <div class="cell pd curp" .class="{navactive:curProductId==0}" click="this.curProductId=0; loadData()">视频</div>
                <div class="cell pd curp" .class="{navactive:curProductId==1}" click="this.curProductId=1; loadData()">影院</div>
                <div class="cell pd curp" .class="{navactive:curProductId==2}" click="this.curProductId=2; loadData()">直播</div>
                <div class="cell fr muted">
                    <div class="cell pd xsnone">admin</div>
                    <div class="cell pd">退出</div>
                </div>
            </div>
        </div>
    </div>
    <!-- main -->
    <div --if="!loading" class="w960 mw mglra">
        <!-- 今日流量 -->
        <div class="pd mgtb bg sh animate fadeInUp-enter">
            <table class="wf mgtbw">
                <tr class="muted">
                    <td class="pd1 pdl tr "></td>
                    <td class="pd1 pdl tr ">PV</td>
                    <td class="pd1 pdl tr ">UV</td>
                    <td class="pd1 pdl tr  xsnone">IP数</td>
                    <td class="pd1 pdl tr ">平均使用时长</td>
                </tr>
                <tr>
                    <td class="pd1  ">今日
                        <span class="success">↑</span>
                    </td>
                    <td class="pd1 pdl tr  bold" text="totalPv">----</td>
                    <td class="pd1 pdl tr  bold">----</td>
                    <td class="pd1 pdl tr  bold xsnone">----</td>
                    <td class="pd1 pdl tr  bold">--:--:--</td>
                </tr>
                <tr class="fs3">
                    <td class="pd1  ">昨日</td>
                    <td class="pd1 pdl tr " text="yestodayTotalPv">----</td>
                    <td class="pd1 pdl tr ">----</td>
                    <td class="pd1 pdl tr  xsnone">----</td>
                    <td class="pd1 pdl tr ">--:--:--</td>
                </tr>
            </table>
        </div>
        <!-- 峰值top -->
        <div class="pd mgtb bg sh animate fadeInUp-enter" style="animation-delay:.15s">
            <div class="table wf">
                <div class="cell muted vb">
                    峰值top
                </div>
                <div class="cell">
                    <div class="fs1 muted">21时</div>
                    80000
                </div>
                <div class="cell">
                    <div class="fs1 muted">20时</div>
                    70000
                </div>
                <div class="cell">
                    <div class="fs1 muted">19时</div>
                    60000
                </div>
                <div class="cell">
                    <div class="fs1 muted">13时</div>
                    30000
                </div>
                <div class="cell">
                    <div class="fs1 muted">12时</div>
                    10000
                </div>
            </div>
        </div>
        <!-- 图表 -->
        <div class="row cellpdlr mg-lr">
            <div class="cell w24 xs24">
                <div class="pdtb mgb bg sh animate fadeInUp-enter" style="animation-delay:.3s">
                    <div id="chart" class="mgb2" style="height:20em;"></div>
                    <div class="pdlr">
                        <div class="table w24 tblf bd ra9 ovh tac muted">
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==1*60*60*1000}" click="this.time=1*60*60*1000;$event.preventDefault()">1小时</a>
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==6*60*60*1000}" click="this.time=6*60*60*1000;$event.preventDefault()">6小时</a>
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==12*60*60*1000}" click="this.time=12*60*60*1000;$event.preventDefault()">12小时</a>
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==24*60*60*1000}" click="this.time=24*60*60*1000;$event.preventDefault()">1天</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell w24 xs24 none">
                <div class="pdtb mgb bg sh animate fadeInUp-enter" style="animation-delay:.3s">
                    <div id="chart" class="mgb2" style="height:20em;"></div>
                    <div class="pdlr">
                        <div class="table w24 tblf bd ra9 ovh tac muted">
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==1*60*60*1000}" click="this.time=1*60*60*1000;$event.preventDefault()">1小时</a>
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==6*60*60*1000}" click="this.time=6*60*60*1000;$event.preventDefault()">6小时</a>
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==12*60*60*1000}" click="this.time=12*60*60*1000;$event.preventDefault()">12小时</a>
                            <a class="cell bd pdtb1 curp" .class="{btnsactive:time==24*60*60*1000}" click="this.time=24*60*60*1000;$event.preventDefault()">1天</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/ArrayX.min.js"></script>
    <script src="lib/domTpl.js"></script>
    <script src="lib/jquery.js"></script>
    <!-- <script src="js/app.js"></script> -->
    <script>
    var dom = domTpl({
        loading: true,
        curProductId: 3, // 当前产品id
        time: 24*60*60*1000, // pvuv 线时长
    });
    </script>
    <script src="lib/echarts.common.min.js"></script>
    <script type="text/javascript">
    function dateFormat(date, format) {
        var map = {
            y: date.getFullYear(),
            M: date.getMonth() + 1,
            d: date.getDate(),
            H: date.getHours(),
            h: function() {
                var h = date.getHours();
                return h > 12 ? h - 12 : h
            }(),
            m: date.getMinutes(),
            s: date.getSeconds(),
            S: date.getMilliseconds()
        };
        for (var key in map) {
            format = format.replace(RegExp(key + '+', 'g'), function(s) {
                return (Array(s.length).join(0) + map[key]).slice(-s.length)
            })
        }

        return format.replace(/E+/g, function() {
            return '星期' + '日一二三四五六'.charAt(date.getDay());
        })
    }

    // data
    var dates = [];
    var yestodayPvs = [];
    var yestodayUvs = [];
    var todayPvs = [];
    var todayUvs = [];

    // date
    var now = new Date;
    var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    var yestoday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);
    var tomorrow = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);
    var step = 1000 * 60 * 5;

    // dates
    for (var i = 0; true; i++) {
        var d = yestoday.getTime() + step * i;
        d = new Date(d);
        if (d >= today) break;
        dates.push(d.getHours() + ':' + d.getMinutes());
    }

    // chart
    var myChart = echarts.init(document.getElementById('chart'));

    option = {
        // title: {
        //     text: 'pv uv'
        // },
        tooltip: {
            trigger: 'axis',
            position: function(pt) {
                // console.log(arguments)
                return [pt[0] - 56, 'auto'];
            },
            confine: true,
            animation: false,
            axisPointer: {
                animation: false
            },
            extraCssText: 'transition:none;box-shadow:1px 1px 10px #aaa;background:rgba(0,0,0,.5);bottom:100%;top:auto;margin-bottom:-30px;pointer-events:none',
        },
        legend: {
            data: [{
                icon: 'circle',
                name: '今PV'
            }, {
                icon: 'circle',
                name: '今UV'
            }, {
                icon: 'circle',
                name: '昨PV'
            }, {
                icon: 'circle',
                name: '昨UV'
            }],
            selected: {
                '今PV': true,
                '今UV': false,
                '昨PV': true,
                '昨UV': false,
            }
        },
        grid: {
            // show: true,
            left: '45',
            left: '55',
            // left: 0,
            top: '30',
            bottom: '40',
            right: '20',
            // containLabel: true
        },
        xAxis: {
            // type: 'time',
            data: dates,
            // splitLine: {
            //     show: false
            // },
            axisTick: {
                show: false,
                inside: true
            },
            axisLabel: {
                // inside: true
            }
        },
        yAxis: {
            axisTick: {
                show: false,
                inside: true
            },
            axisLabel: {
                // inside: true,
                // rotate: 45,
                margin: 2,
                formatter: function(value, index) {
                    return value;
                    return (value / 1000) + 'k'
                }
            },

        },
        color: ['#0af', '#21D100', '#FFD013', '#FF6767'],
        series: [{
            name: '今PV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 2
                }
            },
            data: todayPvs
        }, {
            name: '今UV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: todayUvs
        }, {
            name: '昨PV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: yestodayPvs
        }, {
            name: '昨UV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: yestodayUvs
        }]
    };

    myChart.setOption(option);
    addEventListener('resize', myChart.resize);

    // load data
    function loadData() {

        // 今天 pv
        loadPvData(dom.curProductId, today, new Date(today.getTime()+dom.time), function(rsp) {
            // chart
            var datas = rsp.datas;
            myChart.setOption({
                xAxis: { // x坐标 todo better
                    data: datas.map(function(item) {
                        return item.time;
                    })
                },
                series: [{
                    name: '今PV',
                    data: datas.map(function(item) {
                        return item.pv
                    })
                }]
            });

            // 今天pv总数
            dom.$set({
                totalPv: rsp.totalPv
            });

        });

        // 昨天 pv
        loadPvData(dom.curProductId, yestoday, new Date(yestoday.getTime()+dom.time), function(rsp) {
            // chart
            var datas = rsp.datas;
            myChart.setOption({
                xAxis: {
                    data: datas.map(function(item) {
                        return item.time;
                    })
                },
                series: [{
                    name: '昨PV',
                    data: datas.map(function(item) {
                        return item.pv
                    })
                }]
            });

            // 昨天pv总数
            dom.$set({
                yestodayTotalPv: rsp.totalPv
            });

        });
    };
    loadData(dom.curProductId);
    setInterval(function() {
        loadData(dom.curProductId);
    }, 1000 * 60 * .5);

    function loadPvData(productId, startDate, endDate, fn) {
        $.ajax({
            url: 'http://10.200.65.16:8042/monitor/qryVisitInfo',
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: JSON.stringify({
                "productId": productId,
                "startDate": dateFormat(startDate, 'yyyyMMdd000000'),
                "endDate": dateFormat(endDate, 'yyyyMMdd000000'),
                "statType": "1"
            }),
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    alert(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                fn(rsp);
            },
            error: function(rsp) {
                alert('请求数据出错！');
                console.log(rsp)
            }
        });
    }
    </script>
</body>

</html>
