<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <title>报表</title>
    <style type="text/css">
    html {
        background: #f5f5f5;
    }
    
    .nav_at {
        color: #0af;
        border-bottom: solid 1px #0af;
    }
    
    .menu_at {
        color: #0af;
    }
    
    .btn_at {
        background: #f5f5f5;
        color: #111;
    }
    </style>
    <!-- theme -->
    <style type="text/cssx">
    html {
        background: #282D33;
        color: #cbEEFF;
    }
    
    .sh {
        box-shadow: 0 1px 5px rgba(4, 0, 0, 0.55)
    }
    
    .bg {
        background: #182635;
    }
    </style>
</head>

<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="pd bg c">DATA</div>
        <div class="pd muted">menu</div>
        <ul class="sidebar-menu">
            <li>
                集群管理
                <ul>
                    <li>
                        <a href="">实时系统</a>
                    </li>
                    <li>
                        <a href="">离线系统</a>
                    </li>
                    <li>
                        <a href="">用户BI</a>
                    </li>
                </ul>
            </li>
            <li>
                报表管理
                <ul>
                    <li>
                        <a href="">实时报表</a>
                    </li>
                    <li>
                        <a href="">离线报表</a>
                    </li>
                </ul>
            </li>
            <li>
                系统管理
                <ul>
                    <li>
                        <a href="">用户管理</a>
                    </li>
                    <li>
                        <a href="">角色管理</a>
                    </li>
                    <li>
                        <a href="">权限管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- main -->
    <div class="layout-main">
        <!-- navbar -->
        <div class="bg sh">
            <div class="w24 mw mglra">
                <div class="row">
                    <div class="cell pd sidebar-toggle">三</div>
                    <div class="cell fr muted">
                        <div class="cell pd">admin</div>
                        <div class="cell pd">退出</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content -->
        <div>
            <!-- main -->
            <div --if="!loading" class="w24 mw pdlr mglra">
                <!-- 产品 -->
                <div class="mgtb">
                    <div class="w24 mw mglra">
                        <div class="row">
                            <div class="cell">
                                <div class="cell pdlr pdtb2 curp" .class="{nav_at:nav==0}" click="this.nav=0; loadData()">门户</div>
                                <div class="cell pdlr pdtb2 curp" .class="{nav_at:nav==1}" click="this.nav=1; loadData()">gslb</div>
                                <div class="cell pdlr pdtb2">|</div>
                            </div>
                            <div class="cell">
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==3}" click="this.curProductId=3; loadData()">总览</div>
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==0}" click="this.curProductId=0; loadData()">视频</div>
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==1}" click="this.curProductId=1; loadData()">影院</div>
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==2}" click="this.curProductId=2; loadData()">直播</div>
                                <!--  -->
                                <div if="nav==0" class="cell pdlr pdtb2 curp" click="location.href='jianquan.html'">鉴权</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 今日流量 -->
                <div class="pd mgtb bg sh animate fadeInUp-enter">
                    <table class="wf mgtbw tblf">
                        <tr class="muted">
                            <td class="pd1 pdl tr "></td>
                            <td class="pd1 pdl tr ">PV</td>
                            <td class="pd1 pdl tr ">UV</td>
                        </tr>
                        <tr>
                            <td class="pd1  ">今日
                                <span class="success">↑</span>
                            </td>
                            <td class="pd1 pdl tr  bold">{{pageData[nav||0][curProductId||0].pv.today}}</td>
                            <td class="pd1 pdl tr  bold">{{pageData[nav||0][curProductId||0].uv.today}}</td>
                        </tr>
                        <tr>
                            <td class="pd1  ">昨日</td>
                            <td class="pd1 pdl tr muted">{{pageData[nav||0][curProductId||0].pv.yesterday}}</td>
                            <td class="pd1 pdl tr muted">{{pageData[nav||0][curProductId||0].uv.yesterday}}</td>
                        </tr>
                    </table>
                </div>
                <!-- 峰值top -->
                <div class="pd mgtb bg sh animate fadeInUp-enter ova" style="animation-delay:.15s">
                    <div class="table w24">
                        <div class="row">
                            <div class="cell vab pdlr2 muted">
                                pv tops
                            </div>
                            <div each="item in pageData[nav||0][curProductId||0].pv.tops" class="cell vab pdlr2">
                                <div class="fs1 muted">{{item.time}}时</div>
                                {{item.pv}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell vab pdlr2 muted">
                                uv tops
                            </div>
                            <div each="item in pageData[nav||0][curProductId||0].uv.tops" class="cell vab pdlr2">
                                <div class="fs1 muted">{{item.time}}时</div>
                                {{item.uv}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 图表 -->
                <div class="row cellpdlr mg-lr mgtb">
                    <div class="cell w24 xs24">
                        <div class="pdtb mgb bg sh animate fadeInUp-enter" style="animation-delay:.3s">
                            <div id="chart" class="" style="height:20em;"></div>
                            <div class="pdlr tac">
                                <div class="table inline xs24 tblf bd ra9 ovh tac muted">
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:time==24*60*60*1000}" click="this.time=24*60*60*1000;chartZoom();$event.preventDefault()">1 天</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:time==12*60*60*1000}" click="this.time=12*60*60*1000;chartZoom();$event.preventDefault()">12小时</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:time==6*60*60*1000}" click="this.time=6*60*60*1000;chartZoom();$event.preventDefault()">6小时</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:time==1*60*60*1000}" click="this.time=1*60*60*1000;chartZoom();$event.preventDefault()">1小时</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/ArrayX.min.js"></script>
    <script src="lib/Date.pro.format.js"></script>
    <script src="lib/domTpl.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/ajaxr.js"></script>
    <script src="lib/echarts.common.min.js"></script>
    <script src="lib/wu.toast.js"></script>
    <script src="js/chart.option.js"></script>
    <script src="js/app.js"></script>
    <script>
    var dom = domTpl({
        loading: true,
        nav: 0, // 门户 gslb
        curProductId: 3, // 当前产品id
        pageData: null,
        time: 24 * 60 * 60 * 1000, // pvuv 线时长
    });
    </script>
    <script type="text/javascript">
    // data
    var dates = [];
    var yestodayPvs = [];
    var yestodayUvs = [];
    var todayPvs = [];
    var todayUvs = [];

    // date
    var now;
    var today;
    var yesterday;
    var tomorrow;
    var updateDate = function() {
        now = new Date;
        today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
        yesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);
        tomorrow = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);
    }
    updateDate();

    // dates
    var dateGap = 1000 * 60 * 5;
    for (var i = 0; true; i++) {
        var d = yesterday.getTime() + dateGap * i;
        d = new Date(d);
        if (d >= today) break;
        dates.push(d.format('HH:mm'));
    }

    // chart
    var myChart = echarts.init(document.getElementById('chart'));
    chartOption.xAxis = {
        data: dates
    }
    myChart.setOption(chartOption);
    addEventListener('resize', myChart.resize);

    function chartZoom() {
        myChart.setOption({
            dataZoom: [{
                show: false,
                start: 100 - dom.time / (24 * 60 * 60 * 1000) * 100,
                end: 100
            }],
        });
    }

    // load data
    function loadData() {
        // update date
        updateDate();

        // 页面数据
        loadPageData({
            success: function(rsp) {
                rsp[0] = rsp.pub;
                rsp[1] = rsp.gsbl;
                dom.pageData = rsp;
                dom.$render();
            }
        });

        // 今天 pv
        loadPvData({
            url2: 'data/0.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(tomorrow.getTime() - dom.time),
            endDate: tomorrow,
            success: function(rsp) {
                // chart
                var datas = rsp.datas;
                myChart.setOption({
                    series: [{
                        name: '今PV',
                        data: datas.map(function(item) {
                            return [item.time, item.pv]
                        })
                    }]
                });
            }
        });

        // 昨天 pv
        loadPvData({
            url2: 'data/1.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(today.getTime() - dom.time),
            endDate: today,
            success: function(rsp) {
                // chart
                datas = rsp.datas;
                myChart.setOption({
                    // xAxis: {
                    //     data: datas.map(function(item) {
                    //         return item.time;
                    //     })
                    // },
                    series: [{
                        name: '昨PV',
                        data: datas.map(function(item) {
                            return [item.time, item.pv]
                        })
                    }]
                });

                // 昨天pv总数
                dom.$set({
                    yestodayTotalPv: rsp.totalPv
                });

            }
        });

        // 今天 uv
        loadUvData({
            url2: 'data/0.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(tomorrow.getTime() - dom.time),
            endDate: tomorrow,
            success: function(rsp) {
                // chart
                var datas = rsp.datas;
                myChart.setOption({
                    series: [{
                        name: '今UV',
                        data: datas.map(function(item) {
                            return [item.time, item.uv]
                        })
                    }]
                });
            }
        });

        // 昨天 uv
        loadUvData({
            url2: 'data/1.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(today.getTime() - dom.time),
            endDate: today,
            success: function(rsp) {
                // chart
                datas = rsp.datas;
                myChart.setOption({
                    // xAxis: {
                    //     data: datas.map(function(item) {
                    //         return item.time;
                    //     })
                    // },
                    series: [{
                        name: '昨UV',
                        data: datas.map(function(item) {
                            return [item.time, item.uv]
                        })
                    }]
                });

                // 昨天pv总数
                dom.$set({
                    yestodayTotalPv: rsp.totalPv
                });

            }
        });
    };
    loadData(), setInterval(loadData, 1000 * 60 * .5);


    // 加载pv线
    function loadPvData(options) {
        $.ajax({
            url: options.url || ['http://10.200.69.3:8042/monitor/qryVisitPvInfo',
                'http://10.200.69.3:8042/monitor/qryGslbPvInfo'
            ][options.nav],
            url2: options.url2,
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: JSON.stringify({
                "productId": options.productId,
                "startDate": options.startDate.format('yyyyMMddHHmmss'),
                "endDate": options.endDate.format('yyyyMMddHHmmss'),
                "statType": "1"
            }),
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    wu.toast(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                options.success(rsp);
            },
            error: function(rsp) {
                wu.toast('请求数据出错！');
                console.log(rsp)
            }
        });
    }

    // 加载uv线
    function loadUvData(options) {
        $.ajax({
            url: options.url || ['http://10.200.69.3:8042/monitor/qryVisitUvInfo',
                'http://10.200.69.3:8042/monitor/qryGslbUvInfo'
            ][options.nav],
            url2: options.url2,
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: JSON.stringify({
                "productId": options.productId,
                "startDate": options.startDate.format('yyyyMMddHHmmss'),
                "endDate": options.endDate.format('yyyyMMddHHmmss'),
                "statType": "1"
            }),
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    wu.toast(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                options.success(rsp);
            },
            error: function(rsp) {
                wu.toast('请求数据出错！');
                console.log(rsp)
            }
        });
    }

    // 加载页面数据
    function loadPageData(options) {
        $.ajax({
            url: 'http://10.200.69.3:8042/monitor/qryVisitBrief',
            url2: 'data/qryVisitBrief.json',
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: '{"productId":"1","startDate":"20170222000000","endDate":"20170223000000"}', // to delete
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    wu.toast(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                options.success(rsp);
            },
            error: function(rsp) {
                wu.toast('请求数据出错！');
                console.log(rsp)
            }
        });
    }
    </script>
</body>

</html>
