<!DOCTYPE html>
<html class="sidebar-open">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <style type="text/css">
    .logo {
        background: #fff url(img/logo.png) center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        color: transparent;
    }
    </style>
</head>

<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="pd bg c logo">DATA</div>
        <div class="pd muted">menu</div>
        <ul class="sidebar-menu">
            <li>
                集群管理
                <ul>
                    <li>
                        <a href="实时系统.html">实时系统</a>
                    </li>
                    <li>
                        <a href="离线系统.html">离线系统</a>
                    </li>
                    <li>
                        <a href="用户BI.html">用户BI</a>
                    </li>
                </ul>
            </li>
            <li>
                报表管理
                <ul>
                    <li>
                        <a href="charts.html">实时报表</a>
                    </li>
                    <li>
                        <a href="离线报表.html">离线报表</a>
                    </li>
                </ul>
            </li>
            <li>
                系统管理
                <ul>
                    <li>
                        <a href="用户管理.html">用户管理</a>
                    </li>
                    <li>
                        <a href="角色管理.html">角色管理</a>
                    </li>
                    <li>
                        <a href="权限管理.html">权限管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- main -->
    <div class="layout-main">
        <!-- navbar -->
        <div class="bg sh">
            <div class="w24 mw mglra">
                <div class="row">
                    <div class="cell pd sidebar-toggle">三</div>
                    <div class="cell fr muted">
                        <div class="cell pd">admin</div>
                        <div class="cell pd">退出</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/ArrayX.min.js"></script>
    <script src="lib/Date.pro.format.js"></script>
    <script src="lib/domTpl.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/ajaxr.js"></script>
    <script src="lib/echarts.common.min.js"></script>
    <script src="lib/wu.toast.js"></script>
    <script src="js/chart.option.js"></script>
    <script src="js/app.js"></script>
    <script src="css/ui.js"></script>
</body>

</html>
