<!DOCTYPE html>
<html class="bgw">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
    <form id="login" action="charts2.html">
        <div class="fs4 pd2 tc">Admin</div>
        <input class="mg2 bd ra pd2" value="admin" placeholder="账号">
        <input class="mg2 bd ra pd2" type="password" value="admin" placeholder="密码">
        <label class="pd2">
            <input type="checkbox" name="">
            记住我
        </label>
        <button class="mg2 bd ra pd2 bgw sh">登录</button>
    </form>
</body>

</html>
