<!DOCTYPE html>
<html class="bgw">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
</head>

<body>
    <form class="mw320 pd mglra" style="margin-top: 100px" action="index.html" method="GET">
        <div class="fs4 pd2 tac">Admin</div>
        <input class="w24 pd2 mgtb2 bd ra" value="admin" placeholder="账号">
        <input class="w24 pd2 mgtb2 bd ra" type="password" value="admin" placeholder="密码">
        <label class="block mgtb2">
            <input type="checkbox" name="">
            记住我
        </label>
        <button class="button w24 pd2 mgtb2 bd ra primary" type="submit">登录</button>
    </form>
</body>

</html>
