<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>报表</title>
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <style type="text/css">
    html {
        background: #f5f5f5;
    }
    
    .nav_at {
        color: #0af;
        border-bottom: solid 1px #0af;
    }
    
    .menu_at {
        color: #0af;
    }
    
    .btn_at {
        background: #f5f5f5;
        color: #111;
    }
    </style>
    <!-- theme -->
    <style type="text/cssx">
    html {
        background: #282D33;
        color: #cbEEFF;
    }
    
    .sh {
        box-shadow: 0 1px 5px rgba(4, 0, 0, 0.55)
    }
    
    .bg {
        background: #182635;
    }
    </style>
    <style type="text/css">
    .logo {
        background: #fff url(img/logo.png) center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        color: transparent;
    }
    </style>
</head>

<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="pd bg c logo">DATA</div>
        <div class="pd muted">menu</div>
        <ul class="sidebar-menu">
            <li>
                集群管理
                <ul>
                    <li>
                        <a href="实时系统.html">实时系统</a>
                    </li>
                    <li>
                        <a href="离线系统.html">离线系统</a>
                    </li>
                    <li>
                        <a href="用户BI.html">用户BI</a>
                    </li>
                </ul>
            </li>
            <li>
                报表管理
                <ul>
                    <li>
                        <a href="charts.html">实时报表</a>
                    </li>
                    <li>
                        <a href="离线报表.html">离线报表</a>
                    </li>
                </ul>
            </li>
            <li>
                系统管理
                <ul>
                    <li>
                        <a href="用户管理.html">用户管理</a>
                    </li>
                    <li>
                        <a href="角色管理.html">角色管理</a>
                    </li>
                    <li>
                        <a href="权限管理.html">权限管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- main -->
    <div class="layout-main">
        <!-- navbar -->
        <div class="bg sh">
            <div class="w24 mw mglra">
                <div class="row">
                    <div class="cell pd sidebar-toggle">三</div>
                    <div class="cell fr muted">
                        <div class="cell pd">admin</div>
                        <div class="cell pd">退出</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content -->
        <div>
            <!-- main -->
            <div --if="!loading" class="w24 mw pdlr mglra">
                <!-- path -->
                <div class="">
                    <a class="inline block pd" style="padding-left:0" href="index.html">首页</a>
                    /
                    <a class="inline block pd" href="charts.html">实时报表</a>
                    /
                    <a class="inline block pd" href="protal.html">门户</a>
                </div>
                <!-- 产品 -->
                <div class="">
                    <div class="w24 mw mglra">
                        <div class="row">
                            <div class="cell none">
                                <div class="cell pdlr pdtb2 curp" .class="{nav_at:nav==0}" click="this.nav=0; loadData()">门户</div>
                                <div class="cell pdlr pdtb2 curp" .class="{nav_at:nav==1}" click="this.nav=1; loadData()">gslb</div>
                                <div class="cell pdlr pdtb2">|</div>
                            </div>
                            <div class="cell">
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==3}" click="this.curProductId=3; loadData()">总览</div>
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==0}" click="this.curProductId=0; loadData()">视频</div>
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==1}" click="this.curProductId=1; loadData()">影院</div>
                                <div class="cell pdlr pdtb2 curp" .class="{menu_at:curProductId==2}" click="this.curProductId=2; loadData()">直播</div>
                                <!--  -->
                                <div if="nav==0" class="cell pdlr pdtb2 curp none" click="location.href='auth.html'">鉴权</div>
                            </div>
                            <!-- select -->
                            <div class="cell fr">
                                <div class="table inline mgtb1 mgr bd bg ra9 ovh tac muted">
                                    <label class="cell bd pd1 pdlr curp">
                                        <input type="checkbox" model="hasUser" change="loadData()"> 用户
                                    </label>
                                    <label class="cell bd pd1 pdlr curp ">
                                        <input type="checkbox" model="hasTourist" change="loadData()"> 游客
                                    </label>
                                </div>
                                <input class="pd1 mgtb1 tac bd ra9" style="height:29px" type="date" model="date" change="loadData()">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 今日流量 -->
                <div class="pd mgtb bg sh animate fadeInUp-enter">
                    <table class="wf mgtbw tblf">
                        <tr class="muted">
                            <td class="pd1 pdl tr "></td>
                            <td class="pd1 pdl tr ">PV</td>
                            <td class="pd1 pdl tr ">UV</td>
                        </tr>
                        <tr>
                            <td class="pd1  ">今日
                                <span class="success">↑</span>
                            </td>
                            <td class="pd1 pdl tr  bold">{{pageData[nav||0][curProductId||0].pv.today}}</td>
                            <td class="pd1 pdl tr  bold">{{pageData[nav||0][curProductId||0].uv.today}}</td>
                        </tr>
                        <tr>
                            <td class="pd1  ">昨日</td>
                            <td class="pd1 pdl tr muted">{{pageData[nav||0][curProductId||0].pv.yesterday}}</td>
                            <td class="pd1 pdl tr muted">{{pageData[nav||0][curProductId||0].uv.yesterday}}</td>
                        </tr>
                    </table>
                </div>
                <!-- 峰值top -->
                <div class="pd mgtb bg sh animate fadeInUp-enter ova" style="animation-delay:.15s">
                    <div class="table w24">
                        <div class="row">
                            <div class="cell vab pdlr2 muted">
                                pv tops
                            </div>
                            <div each="item in pageData[nav||0][curProductId||0].pv.tops" class="cell vab pdlr2">
                                <div class="fs1 muted">{{item.time}}时</div>
                                {{item.pv}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell vab pdlr2 muted">
                                uv tops
                            </div>
                            <div each="item in pageData[nav||0][curProductId||0].uv.tops" class="cell vab pdlr2">
                                <div class="fs1 muted">{{item.time}}时</div>
                                {{item.uv}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 图表 -->
                <div class="row cellpdlr mg-lr mgtb">
                    <div class="cell w12 xs24">
                        <div class="pdtb mgb bg sh animate fadeInUp-enter" style="animation-delay:.3s">
                            <div id="pvChart" class="" style="height:20em;"></div>
                            <div class="pdlr tac">
                                <div class="table inline xs24 tblf bd ra9 ovh tac muted">
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:pvTimeLong==24*60*60*1000}" click="this.pvTimeLong=24*60*60*1000;pvChartZoom();$event.preventDefault()">1 天</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:pvTimeLong==12*60*60*1000}" click="this.pvTimeLong=12*60*60*1000;pvChartZoom();$event.preventDefault()">12小时</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:pvTimeLong==6*60*60*1000}" click="this.pvTimeLong=6*60*60*1000;pvChartZoom();$event.preventDefault()">6小时</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:pvTimeLong==3*60*60*1000}" click="this.pvTimeLong=3*60*60*1000;pvChartZoom();$event.preventDefault()">3小时</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell w12 xs24">
                        <div class="pdtb mgb bg sh animate fadeInUp-enter" style="animation-delay:.3s">
                            <div id="uvChart" class="" style="height:20em;"></div>
                            <div class="pdlr tac">
                                <div class="table inline xs24 tblf bd ra9 ovh tac muted">
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:uvTimeLong==24*60*60*1000}" click="this.uvTimeLong=24*60*60*1000;uvChartZoom();$event.preventDefault()">1 天</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:uvTimeLong==12*60*60*1000}" click="this.uvTimeLong=12*60*60*1000;uvChartZoom();$event.preventDefault()">12小时</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:uvTimeLong==6*60*60*1000}" click="this.uvTimeLong=6*60*60*1000;uvChartZoom();$event.preventDefault()">6小时</a>
                                    <a href="#js" class="cell bd pd1 curp" style="width:4em" .class="{btn_at:uvTimeLong==3*60*60*1000}" click="this.uvTimeLong=3*60*60*1000;uvChartZoom();$event.preventDefault()">3小时</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/ArrayX.min.js"></script>
    <script src="lib/Date.pro.format.js"></script>
    <script src="lib/domTpl.js"></script>
    <script>
    var dom = domTpl({
        loading: true,
        nav: 0, // protal gslb
        curProductId: 3, // 当前产品id
        pageData: null,
        pvTimeLong: 24 * 60 * 60 * 1000, // pv线时长
        uvTimeLong: 24 * 60 * 60 * 1000, // uv 线时长
        hasUser: true,
        hasTourist: true,
        date: new Date().format('yyyy-MM-dd')
    });
    </script>
    <script src="lib/jquery.js"></script>
    <script src="lib/ajaxr.js"></script>
    <script src="lib/echarts.common.min.js"></script>
    <script src="lib/wu.toast.js"></script>
    <script src="js/chart.option.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
    var host = 'http://117.131.17.93:8042';

    // data
    var dates = [];
    var yestodayPvs = [];
    var yestodayUvs = [];
    var todayPvs = [];
    var todayUvs = [];

    // date
    var now;
    var today;
    var yesterday;
    var tomorrow;
    var date;
    var preDate;
    var nextDate;
    var updateDate = function() {
        now = new Date;
        today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
        yesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);
        tomorrow = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);
        date = new Date(dom.date);
        preDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);
        nextDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1);
    }
    updateDate();

    // dates
    var dateGap = 1000 * 60 * 5;
    for (var i = 0; true; i++) {
        var d = yesterday.getTime() + dateGap * i;
        d = new Date(d);
        if (d >= today) break;
        dates.push(d.format('HH:mm'));
    }

    // chart
    var pvChart = echarts.init(document.getElementById('pvChart'));
    var uvChart = echarts.init(document.getElementById('uvChart'));
    $.extend(chartOption, {
        xAxis: {
            data: dates
        }
    });
    pvChart.setOption($.extend({}, chartOption, {
        color: ['#0af', '#FFD013'],
        legend: {
            data: [{
                icon: 'circle',
                name: '今PV'
            }, {
                icon: 'circle',
                name: '昨PV'
            }]
        },
        series: [{
            name: '今PV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: []
        }, {
            name: '昨PV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: []
        }]
    }));
    uvChart.setOption($.extend({}, chartOption, {
        color: ['#21D100', '#FF6767'],
        legend: {
            data: [{
                icon: 'circle',
                name: '今UV'
            }, {
                icon: 'circle',
                name: '昨UV'
            }]
        },
        series: [{
            name: '今UV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: []
        }, {
            name: '昨UV',
            type: 'line',
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 1
                }
            },
            data: []
        }]
    }));
    addEventListener('resize', pvChart.resize);
    addEventListener('resize', uvChart.resize);


    // todo bug 当放大后，数据再加载，图表显示异常
    function pvChartZoom() {
        var cur = (now.getTime() - today.getTime()) / (24 * 60 * 60 * 1000);
        var long = dom.pvTimeLong / (24 * 60 * 60 * 1000);
        var half = long / 2;
        var leftLong = half;
        var rightLong = half;
        if (cur - half < 0) {
            leftLong = cur;
            rightLong += half - cur;
        }
        if (cur + half > 1) {
            rightLong = 1 - cur;
            leftLong += cur + half - 1;
        }

        pvChart.dispatchAction({
            type: 'dataZoom',
            start: (cur - leftLong) * 100,
            end: (cur + rightLong) * 100
        });
    }

    function uvChartZoom() {
        var cur = (now.getTime() - today.getTime()) / (24 * 60 * 60 * 1000);
        var long = dom.uvTimeLong / (24 * 60 * 60 * 1000);
        var half = long / 2;
        var leftLong = half;
        var rightLong = half;
        if (cur - half < 0) {
            leftLong = cur;
            rightLong += half - cur;
        }
        if (cur + half > 1) {
            rightLong = 1 - cur;
            leftLong += cur + half - 1;
        }

        uvChart.setOption({
            dataZoom: [{
                show: false,
                start: (cur - leftLong) * 100,
                end: (cur + rightLong) * 100
            }],
        });
    }

    // load data
    function loadData() {
        // update date
        updateDate();

        // 用户 游客
        var userType = 2;
        if (!dom.hasUser) {
            userType = 1;
        }
        if (!dom.hasTourist) {
            userType = 0
        }
        if (!dom.hasUser && !dom.hasTourist) {
            dom.hasUser = true;
            dom.$render();
        }

        // 页面数据
        loadPageData({
            productId: dom.curProductId,
            startDate: new Date(nextDate.getTime() - dom.pvTimeLong),
            endDate: nextDate,
            userType: userType,
            success: function(rsp) {
                rsp[0] = rsp.pub;
                rsp[1] = rsp.gslb;
                dom.pageData = rsp;
                dom.$render();
            }
        });

        // 今天 pv
        loadPvData({
            url2: 'data/pv2.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(nextDate.getTime() - dom.pvTimeLong),
            endDate: nextDate,
            userType: userType,
            success: function(rsp) {
                // chart
                var datas = rsp.datas;
                pvChart.setOption({
                    series: [{
                        name: '今PV',
                        data: datas.map(function(item) {
                            return [item.time, item.pv]
                        })
                    }]
                });
            }
        });

        // 昨天 pv
        loadPvData({
            url2: 'data/pv.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(date.getTime() - dom.pvTimeLong),
            endDate: date,
            userType: userType,
            success: function(rsp) {
                // chart
                datas = rsp.datas;
                pvChart.setOption({
                    series: [{
                        name: '昨PV',
                        data: datas.map(function(item) {
                            return [item.time, item.pv]
                        })
                    }]
                });
            }
        });

        // 今天 uv
        loadUvData({
            url2: 'data/uv2.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(nextDate.getTime() - dom.uvTimeLong),
            endDate: nextDate,
            userType: userType,
            success: function(rsp) {
                // chart
                var datas = rsp.datas;
                uvChart.setOption({
                    series: [{
                        name: '今UV',
                        data: datas.map(function(item) {
                            return [item.time, item.uv]
                        })
                    }]
                });
            }
        });

        // 昨天 uv
        loadUvData({
            url2: 'data/uv.json',
            nav: dom.nav,
            productId: dom.curProductId,
            startDate: new Date(date.getTime() - dom.uvTimeLong),
            endDate: date,
            userType: userType,
            success: function(rsp) {
                // chart
                datas = rsp.datas;
                uvChart.setOption({
                    series: [{
                        name: '昨UV',
                        data: datas.map(function(item) {
                            return [item.time, item.uv]
                        })
                    }]
                });
            }
        });
    };
    loadData() //, setInterval(loadData, 1000 * 60 * .5);


    // 加载pv线
    function loadPvData(options) {
        $.ajax({
            url: options.url || [host + '/monitor/qryVisitPvInfo',
                host + '/monitor/qryGslbPvInfo'
            ][options.nav],
            url2: options.url2,
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: JSON.stringify({
                "productId": options.productId,
                "startDate": options.startDate.format('yyyyMMddHHmmss'),
                "endDate": options.endDate.format('yyyyMMddHHmmss'),
                "statType": "1",
                "userType": options.userType
            }),
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    wu.toast(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                options.success(rsp);
            },
            error: function(rsp) {
                wu.toast('请求数据出错！');
                console.log(rsp)
            }
        });
    }

    // 加载uv线
    function loadUvData(options) {
        $.ajax({
            url: options.url || [host + '/monitor/qryVisitUvInfo',
                host + '/monitor/qryGslbUvInfo'
            ][options.nav],
            url2: options.url2,
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: JSON.stringify({
                "productId": options.productId,
                "startDate": options.startDate.format('yyyyMMddHHmmss'),
                "endDate": options.endDate.format('yyyyMMddHHmmss'),
                "statType": "1",
                "userType": options.userType
            }),
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    wu.toast(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                options.success(rsp);
            },
            error: function(rsp) {
                wu.toast('请求数据出错！');
                console.log(rsp)
            }
        });
    }

    // 加载页面数据
    function loadPageData(options) {
        $.ajax({
            url: host + '/monitor/qryVisitBrief',
            url2: 'data/qryVisitBrief.json',
            type: 'post',
            headers: {
                'Content-type': 'application/json;charset=UTF-8'
            },
            data: JSON.stringify({
                // "productId": options.productId,
                "startDate": options.startDate.format('yyyyMMddHHmmss'),
                "endDate": options.endDate.format('yyyyMMddHHmmss'),
                "userType": options.userType
            }),
            dataType: 'json',
            success: function(rsp) {
                // error
                if (!rsp || rsp.result) {
                    wu.toast(rsp.result + ':' + rsp.resultDesc);
                    return;
                }

                // handle
                options.success(rsp);
            },
            error: function(rsp) {
                wu.toast('请求数据出错！');
                console.log(rsp)
            }
        });
    }
    </script>
</body>

</html>
